<?xml version="1.0" encoding="utf-8" ?>
<BanksConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Banks>
    <Bank IsExtended="true" Id="alpha" Title="Альфабанк [*]" Url="https://alfabank.ru/atms/moscow/atm-102530/" SpecialUrl="https://alfabank.ru/_/ajax/_get_currency.html?dt_from={DAYS:30}&amp;dt_to={DAYS:0}&amp;city_id=21&amp;rnd={RND}" Encoding="UTF-8">
      <PatternSell><![CDATA[840_misc_make-cash_buy.*?val.:\[([\d\.]+)]]></PatternSell>
      <PatternBuy><![CDATA[840_misc_make-cash_sell.*?val.:\[([\d\.]+)]]></PatternBuy>
    </Bank>
    <Bank Id="bm" Title="Банк Москвы [438a]" Url="http://www.bm.ru/ru/ofisy-banka/otdelenija/?id_office=29988" SpecialUrl="http://www.bm.ru/ru/personal/services/exchange/" Encoding="UTF-8">
      <PatternSell><![CDATA[<td>\s*USD\s*<\/td>\s*<td>[^<]+?<\/td>\s*<td>\s*([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[<td>\s*USD\s*<\/td>\s*<td>[^<]+?<\/td>\s*<td>\s*[\d\.\,]+\s*<\/td>\s*<td>\s*([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <Bank Id="vtb" Title="ВТБ [1805]" Url="http://www.vtb24.ru/personal/Pages/default.aspx?geo=zelenograd" Encoding="UTF-8">
      <PatternSell><![CDATA[.CurrencyGroupAbbr.:.cash.,.CurrencyAbbr.:.USD.,[^\}]+?Buy.:.([\d\.\,]+)[^\}]+?Gradation.:1,]]></PatternSell>
      <PatternBuy><![CDATA[.CurrencyGroupAbbr.:.cash.,.CurrencyAbbr.:.USD.,[^\}]+?[^\}]+?Sell.:.([\d\.\,]+)[^\}]+?Gradation.:1,]]></PatternBuy>
    </Bank>
    <Bank Id="openbank" Title="Открытие [1824]" Url="https://www.openbank.ru/addresses?city=%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0" SpecialUrl="https://www.openbank.ru" Encoding="UTF-8">
      <PatternSell><![CDATA[USD<\/span><span[^>]+>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[USD<\/span><span[^>]+>[\d\.\,]+<\/span><span[^>]+>([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <Bank Id="psbank" Title="Промсвязьбанк [445]" Url="http://www.psbank.ru/Office?OfficeId=612" SpecialUrl="http://www.psbank.ru/Personal/Everyday/Rates/Geo/Moscow" Encoding="UTF-8">
      <PatternSell><![CDATA[5\&nbsp;000\&nbsp;USD[^<]*[\s\S]+?>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[5\&nbsp;000\&nbsp;USD[^<]*[\s\S]+?>[\d\.\,]+[\s\S]+?>([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <Bank Id="raiffeisen" Title="Райффайзен [828]" Url="http://www.raiffeisen.ru/offices/poi/?id=951" SpecialUrl="http://www.raiffeisen.ru/" Encoding="Windows-1251">
      <PatternSell><![CDATA[<tr>\s*<td class=.name.>USD<\/td>\s*<td>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[<tr>\s*<td class=.name.>USD<\/td>\s*<td>[\d\.\,]+<\/td>\s*<td>([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <Bank Id="rosbank" Title="Росбанк [601]" Url="http://www.rosbank.ru/ru/offices/detail/moskovskaya_oblast/Zelenogradskij/" Encoding="UTF-8">
      <PatternSell><![CDATA[<tr class=.bordered.>\s*<td>([\d\.\,]+)&nbsp;\/&nbsp;[\d\.\,]+<\/td>]]></PatternSell>
      <PatternBuy><![CDATA[<tr class=.bordered.>\s*<td>[\d\.\,]+&nbsp;\/&nbsp;([\d\.\,]+)<\/td>]]></PatternBuy>
    </Bank>
    <Bank Id="rgsbank" Title="Росгосстрахбанк [БЦ]" Url="http://rgsbank.ru/about/branches/zelenograd/detail259807/" SpecialUrl="http://rgsbank.ru/" Encoding="UTF-8">
      <PatternSell><![CDATA[arRates\[.USD_RUR.\]\s*=\s*([\d\.\,]+);]]></PatternSell>
      <PatternBuy><![CDATA[arRates\[.RUR_USD.\]\s*=\s*([\d\.\,]+);]]></PatternBuy>
    </Bank>
    <Bank Id="runabank" Title="Рунабанк [1011]" Url="http://www.runabank.ru/contacts/" SpecialUrl="http://www.runabank.ru/Stavki/kurs_z.xml" Encoding="Windows-1251">
      <PatternSell><![CDATA[<USD_pok>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[<USD_prod>([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <!--<Bank Id="rsb" Title="Русский стандарт [1824]" Url="http://www.rsb.ru/about/branch/zelenograd/213637291/" SpecialUrl="http://www.rsb.ru/courses/" Encoding="UTF-8">
      <PatternSell><![CDATA[<b>usd</b>[\s\S]+?<span[^>]+>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[<b>usd</b>[\s\S]+?<span[^>]+>[\s\S]+?<span[^>]+>([\d\.\,]+)]]></PatternBuy>
    </Bank>-->
    <Bank Id="sberbank" Title="Сбербанк" Url="http://sberbank.ru/ru/about/today/oib" SpecialUrl="http://www.sberbank.ru/moscowoblast/ru/quotes/currencies/" Encoding="Windows-1251">
      <PatternSell><![CDATA[alt=.USD. title=[\s\S]+?<td[\s\S]+?<td.*\s*([\d\.\,]+)\s*<\/td>]]></PatternSell>
      <PatternBuy><![CDATA[alt=.USD. title=[\s\S]+?<td[\s\S]+?<td.*\s*[\d\.\,]+[\s\S]+?([\d\.\,]+)\s*<\/td>]]></PatternBuy>
    </Bank>
    <Bank Id="sdm" Title="СДМ [БЦ]" Url="http://www.sdm.ru/koordinaty/2130/" SpecialUrl="http://www.sdm.ru/" Encoding="UTF-8">
      <PatternSell><![CDATA[отделений:[\s\S]*?Зеленогpадское[\s\S]*?<tr>\s*<td>USD<\/td>\s*<td>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[отделений:[\s\S]*?Зеленогpадское[\s\S]*?<tr>\s*<td>USD<\/td>\s*<td>[\d\.\,]+<\/td>\s*<td>([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <Bank Id="smpbank" Title="СМП [1824]" Url="http://smpbank.ru/ru/about/contact?branch=37" SpecialUrl="http://smpbank.ru/" Encoding="UTF-8">
      <PatternSell><![CDATA[<tr>\s*<td[^>]+>USD[^<]*<\/td>\s*<td[^>]+>([\d\.\,]+)]]></PatternSell>
      <PatternBuy><![CDATA[<tr>\s*<td[^>]+>USD[^<]*<\/td>\s*<td[^>]+>[\d\.\,]+<\/td>\s*<td[^>]+>([\d\.\,]+)]]></PatternBuy>
    </Bank>
    <Bank Id="citadele" Title="Цитадель" Url="https://www.citadele.lv/ru/rates/" SpecialUrl="https://www.citadele.lv/ru/rates/" Encoding="UTF-8">
      <Parser>
        <Function>GetCitadele</Function>
        <Pattern><![CDATA[<table [^>]*rates01[^>]*>([\s\S]+?)RUR[\s\S]+?<table [^>]*rates02[^>]*>([\s\S]+?)<\/table>]]></Pattern>
      </Parser>
    </Bank>
  </Banks>
</BanksConfig>